hr {
	border: 1px groove #475232;
	width: 90%;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
	}
H4	{
	font-family:"trebuchet ms";
	font-size:19pt;
	font-weight:bold;
	line-height:10pt;
	color:white;
	margin:18px 0px 6px 14px;
	text-align: left;
	padding: 0px;
	}
H5	{
	color:#C4CABE;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:14px;
	font-weight:bold;
	line-height:10px;
	margin:0px 0px 0px 14px;
	padding:0px;
	text-align: left;
	/* letter-spacing:0.1em; */
	}
H6	{
	color:#BFBA50;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:15px;
	font-weight:bold;
	line-height:18px;
	margin:14px 14px -14px;
	padding:0px;
	text-transform:uppercase;
	text-align: left;
	}
.h6_NoMargin	{
	color:#BFBA50;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:15px;
	font-weight:bold;
	line-height:18px;
	margin:0px 0px -0px;
	padding:0px;
	text-transform:uppercase;
	text-align: left;
	}
.h7	{
	color:#ffffff;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	margin:14px 14px -14px;
	padding:0px;
	text-transform:uppercase;
	text-align: left;
	}
.h7_NoMargin	{
	color:#ffffff;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	padding:0px;
	text-transform:uppercase;
	text-align: left;
	}
.justlikeH6	{
	color:#BFBA50;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size:15px;
	font-weight:bold;
	line-height:18px;
	margin:14px 14px -14px;
	padding:0px;
	text-transform:uppercase;
	text-align: left;
	}
.boldTitle {
	color:#D8E1CA;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	margin:18px 14px -14px;
	padding:0px;
	text-align: left;
}
.BulletList	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#C2C9AE;
	line-height:14px;
	list-style: url("img/square.gif") outside;
	text-align: left;
	margin-top: 10px;
	margin-right: 20px;
	padding:0px 0px 0px -13px;
	margin-bottom: 0px;
	margin-left: 15px;
	}
.logInTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	vertical-align: top;
}
.formTextInput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px solid #636C53;
	margin: 0px;
	padding: 2px;
}
.formTextInput_NoMargin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px solid #636C53;
	margin: 0px;
	padding: 0px;
}
.form {
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
}
.tableLightGreen {
	background-color: #363D26;
	margin-right: 14px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 14px;
}
.tableLightGreen_NoMargin {
	background-color: #363D26;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 0px;
}
.textTight_NoMargin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #C2C9AE;
	text-transform: none;
	margin-top:14px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-decoration: none;
	white-space: nowrap;
	text-transform: none;
	letter-spacing: 0px;
}
A:hover.textTight_NoMargin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #C2C9AE;
	text-transform: none;
	margin-top:0px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	white-space: nowrap;
	text-transform: none;
	letter-spacing: 0px;
	font-weight:none;
}
.textTight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #C2C9AE;
	text-transform: none;
	margin-top:14px;
	padding: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 14px;
}
A:hover.textTight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #C2C9AE;
	text-transform: none;
	margin-top:14px;
	padding: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 14px;
	text-decoration: none;
	white-space: nowrap;
	text-transform: none;
	letter-spacing: 0px;
}
.menuMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	line-height: 14px;
	color: #FFFFFF;
	text-transform: none;
	margin-top:14px;
	padding: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 14px;
	font-weight: bold;
	cursor: pointer;
}
.tableButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	background-color: #000000;
	height: 19px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
}
.nojsButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: Silver;
	text-align: center;
	text-decoration: none;
	height: 15px;
	border: 0px;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;
}
.tableButtonText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	height: 16px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
	letter-spacing: 0px;
}
A:visited.tableButtonText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	height: 19px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
	letter-spacing: 0px;
	}

A:link.tableButtonText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	height: 19px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
	letter-spacing: 0px;
	}

A:hover.tableButtonText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	height: 19px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
	letter-spacing: 0px;
	}

A:active.tableButtonText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	text-align: left;
	text-decoration: none;
	height: 19px;
	white-space: nowrap;
	margin-right: 0px;
	padding: 0px;
	text-transform: none;
	letter-spacing: 0px;
	}
.tableGraph {
	margin-top: 14px;
	margin-right: 14px;
	margin-left: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.tableAddPC {
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 2px;
}
.tableButtonInline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px 0px 0px 7px;
	padding: 0px;
}
.tableCollumnHeaders {
	margin-bottom: -2px;
	margin-left: 20px;
}
.checkBox {
	border: 0px;
	margin-top: -1px;
}
.tableAddMultiple {
	margin-right: 14px;
	margin-left: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	padding: 0px;
	margin-top: 0px;
}
.tablePage {
	margin-top: 20px;
	background-color: #282b1d;
}
.BulletListTight {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#C2C9AE;
	line-height:6px;
	padding:0px 0px 0px 5px;
	list-style: url("img/square.gif") outside;
	text-align: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: -10px;
}
.BulletListErrors {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#C2C9AE;
	line-height:12px;
	padding:-5px 0px 0px 5px;
	list-style: url("img/square.gif") outside;
	text-align: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: -10px;
	vertical-align: top;
}
.NoBulletListErrors {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#C2C9AE;
	line-height:12px;
	padding:-5px 0px 0px 5px;
	list-style: url("img/square.gif") outside;
	text-align: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	vertical-align: top;
}
.tableLogos {
	margin-bottom: 0px;
	margin-left: 14px;
	margin-top: 0px;
	margin-right: 14px;
}
.tableBlack {
	background-color: #000000;
	margin-right: 14px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 14px;
}
.subNav {
	margin: 0px;
	padding: 0px;
}
.tableErrors_Multi {
	margin-right: 14px;
	margin-left: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-bottom: 2px;
	padding: 0px;
	margin-top: 0px;
	background-color: #282B1D;
}
.instructions {
	background-color: #313131;
	margin: 15px 40px 5px 35px;
	padding: 10px 20px 0px 15px;
	border: 1px dashed #999999;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 11px;*/
	/*color: #C2C9AE;*/
	/*text-indent: -15px;*/
}
.textTight_indent {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #C2C9AE;
	text-transform: none;
	margin-top:14px;
	padding: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 35px;
}
